<h3><a class="btn btn-secondary" href="/studentSupervisior"><i class="fa fa-plus"></i>Create New</a>SuperVisior List</h3>

<table class="table table-striped">
    <thead>
        <tr>
            <th>Regitration No</th>
            <th>Super Visior-1</th>
            <th>Super Visior-2</th>
            <th>Super Visior-3</th>
            <th>Super Visior-4</th>
            <th>Super Visior-5</th>
            <th>Super Visior-6</th>
            <th>Super Visior-7</th>
            <th>Super Visior-8</th>
            
            
            <th></th>
        </tr>
    </thead>
    <tbody>
        {{#each list}}
        <tr>
            <td>{{this.studentReg}}</td>
            <td>{{this.sv1}}</td>
            <td>{{this.sv2}}</td>
            <td>{{this.sv3}}</td>
            <td>{{this.sv4}}</td>
            <td>{{this.sv5}}</td>
            <td>{{this.sv6}}</td>
            <td>{{this.sv7}}</td>
            <td>{{this.sv8}}</td>
            

            <td>
                <a href="/studentSupervisior/{{this._id}}"><i class="fa fa-pencil fa-lg" aria-hidden="true"></i><b>Update</b> &nbsp;&nbsp;</a>
                <a href="/studentSupervisior/delete/{{this._id}}" onclick="return confirm('Are you want to delete this record ?');"><i class="fa fa-trash fa-lg" aria-hidden="true"></i><b>Trash</b></a>
            </td>
        </tr>
        {{/each}}
    </tbody>

</table>